<div class="panel panel-default" style="rgb(63, 63, 252);">
    <div class="panel-heading"><div class="navbar">
        <div class="row">
            <div class="col-md-3">
                <a href="/" title="Home Page">
                    <img src="/images/6S_Modo Logos_RGB-01.png" alt="Logo" height="90">
                </a>
            </div>
        </div>
    </div>
</div>

