<div class="navbar">
    <div class="row">
        <div class="col-md-3">
			<a href="/" title="Home Page">
				<img src="/images/6S_Modo Logos_RGB-01.png" alt="Logo" height="70">
			</a>
        </div>
    </div>
</div>